<div class="modal fade" tabindex="-1" role="dialog" id="cart-popup">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Cart</h4>
            </div>
            <div class="modal-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <td class="text-center">{{ column_image }}</td>
                                <td class="text-left">{{ column_name }}</td>
                                <td class="text-left">{{ column_model }}</td>
                                <td class="text-left">{{ column_quantity }}</td>
                                <td class="text-right">{{ column_price }}</td>
                                <td class="text-right">{{ column_total }}</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% if products %}
                            {% for product in products %}
                                <tr>
                                    <td class="text-center">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail"/></a> {% endif %}</td>
                                    <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a> {% if not product.stock %} <span class="text-danger">***</span> {% endif %}
                                        {% if product.option %}
                                            {% for option in product.option %} <br/>
                                                <small>{{ option.name }}: {{ option.value }}</small> {% endfor %}
                                        {% endif %}
                                        {% if product.reward %} <br/>
                                            <small>{{ product.reward }}</small> {% endif %}
                                        {% if product.recurring %} <br/>
                                            <span class="label label-info">{{ text_recurring_item }}</span>
                                            <small>{{ product.recurring }}</small> {% endif %}</td>
                                    <td class="text-left">{{ product.model }}</td>
                                    <td class="text-left">
                                        <div class="input-group btn-block" style="max-width: 200px;">
                                            <input type="text" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" size="1" class="form-control"/>
                                            <span class="input-group-btn">
                  <button type="submit" data-toggle="tooltip" title="{{ button_update }}" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
                                            <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="cart.remove('{{ product.cart_id }}');"><i class="fa fa-times-circle"></i></button>
                  </span></div>
                                    </td>
                                    <td class="text-right">{{ product.price }}</td>
                                    <td class="text-right">{{ product.total }}</td>
                                </tr>
                            {% endfor %}
                            {% for voucher in vouchers %}
                                <tr>
                                    <td></td>
                                    <td class="text-left">{{ voucher.description }}</td>
                                    <td class="text-left"></td>
                                    <td class="text-left">
                                        <div class="input-group btn-block" style="max-width: 200px;">
                                            <input type="text" name="" value="1" size="1" disabled="disabled" class="form-control"/>
                                            <span class="input-group-btn">
                                          <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="voucher.remove('{{ voucher.key }}');"><i class="fa fa-times-circle"></i></button>
                  </span></div>
                                    </td>
                                    <td class="text-right">{{ voucher.amount }}</td>
                                    <td class="text-right">{{ voucher.amount }}</td>
                                </tr>
                            {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="text-center" colspan="6">No Products in the cart.</td>
                                </tr>
                            {% endif %}
                            </tbody>

                        </table>
                    </div>
                </form>
                {% if cross_sales %}
                    <h3 class="h1 text-center">You may also like</h3>
                    <div class="row">
                        {% for product in cross_sales %}
                            {% if loop.index < 5 %}
                                {% include 'morb/template/_element/product.twig' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="modal-footer">
                <a class="btn btn-default pull-left" data-dismiss="modal">Continue Shopping</a>
                <a class="btn btn-default pull-right" href="{{ checkout }}">Go To Checkout</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->