/******** global *******/
html {

}
body {
  font-size: 14px;
}
a {

}
a, a:hover, a:focus {
  text-decoration: none;
}
a:hover, a:focus {

}
/* type */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
}
h1, .h1 {
  font-size: 26px;
}
h2, .h2 {
  font-size: 22px;
}
h3, .h3 {
  font-size: 18px;
}
h4, .h4 {
  font-size: 11px;
}

/******** header ***********/

/******** content **********/

/******** footer ***********/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}
